<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Registration</display-name>
  <welcome-file-list>
    <welcome-file>Register.jsp</welcome-file>
    <welcome-file>payment.jsp</welcome-file>
    <welcome-file>welcomeAdmin.jsp</welcome-file>
    <welcome-file>welcomep.jsp</welcome-file>
    <welcome-file>nfs.jsp</welcome-file>
    <welcome-file>paymentFinish.jsp</welcome-file>
    <welcome-file>welcomepAfterLogin.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.oop.handler.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.oop.handler.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>DownloadFile</display-name>
    <servlet-name>DownloadFile</servlet-name>
    <servlet-class>com.oop.handler.DownloadFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadFile</servlet-name>
    <url-pattern>/DownloadFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>search</display-name>
    <servlet-name>search</servlet-name>
    <servlet-class>com.oop.handler.search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>search</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogOutServlet</servlet-name>
    <servlet-class>com.oop.handler.LogOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOutServlet</servlet-name>
    <url-pattern>/LogOutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>GameHandler</servlet-name>
    <servlet-class>com.oop.handler.GameHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GameHandler</servlet-name>
    <url-pattern>/GameHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>paymentServlet</servlet-name>
    <servlet-class>com.oop.handler.paymentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>paymentServlet</servlet-name>
    <url-pattern>/paymentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>GameServlet</servlet-name>
    <servlet-class>com.oop.handler.GameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GameServlet</servlet-name>
    <url-pattern>/GameServlet</url-pattern>
  </servlet-mapping>
</web-app>